.AboutUsContainer{
    @apply flex w-full flex-col py-10 px-6
    md:flex-row md:px-6
}

.AboutUsLeft{
    @apply flex w-full justify-center items-center
    md:w-1/2
}
.AboutUsRight{
    @apply flex flex-col w-full justify-center items-stretch
    md:w-1/2 md:items-start
    2xl:w-1/3
}
.AboutUsImg{
    @apply w-[90%]
    md:w-[80%]
}
.AboutUsSubTitle{
    font-family: yellowtail;
    @apply text-2xl font-medium text-[#68A47F] text-start
    md:text-3xl
}
.AboutUsTitle{
    @apply text-3xl font-bold text-[#274C5B] text-center mt-2 w-full
    md:text-4xl md:text-start sm:text-4xl
    xl:md:text-5xl
}
.AboutUsDesc{
    @apply text-[#525C60] text-start mt-4 w-full text-sm font-medium text-center
    2xl:w-[90%]
    sm:text-base
}

.AboutUsPoints{
    @apply flex flex-col w-full mt-4 justify-center
    lg:w-[80%]
    xl:w-[70%]
    2xl:w-[80%]
}
.PointsCards{
    @apply flex flex-row mt-6
}
.PointsCardsImg{
    @apply w-14 h-auto
    sm:w-auto
}
.PointsCardText{
    @apply flex justify-center items-start flex-col
}
.PointsTitle{
    @apply text-[#274C5B] text-start font-bold text-xl
}
.PointsDesc{
    @apply text-[#525C60] text-start font-medium text-sm mt-2
}