.BannerHpContainer{
    background-image: url(../../Assets/HomePage/BgBannerHP.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @apply flex w-full bg-cover bg-no-repeat bg-center py-10
}
.BannerHpContent{
    @apply flex flex-col-reverse w-full px-6
    md:flex-row md:px-10
    lg:px-20
}
.BannerHpLeft{
    @apply flex flex-col justify-center w-full
    md:w-1/2
}
.BannerHpRight{
    @apply flex flex-col justify-center w-full items-center
    md:w-1/2
    xl:w-full
}
.BannerHpSubTitle{
    font-family: yellowtail;
    @apply text-2xl font-medium text-[#68A47F] text-start
    md:text-3xl
}
.BannerHpTitle{
    font-family: Roboto;
    @apply text-5xl font-bold text-[#274C5B] text-center mt-2
    md:text-5xl md:text-start
    lg:text-6xl
}
.BannerHpImg{
    @apply w-full
}