.BlogNewsContainer{
    @apply flex items-center justify-center w-full mt-10 py-10
}
.BlogNewsContent{
    @apply flex flex-col w-[80%]
}
.BlogNewsText{
    @apply flex flex-col w-full
}
.BlogNewsSubTitle{
    font-family: yellowtail;
    @apply text-2xl font-medium text-[#68A47F]
    md:text-3xl
}
.BlogNewsDesc{
    @apply flex flex-col  mt-2 w-full justify-between
    md:flex-row
}
.BlogNewsTitle{
    @apply text-3xl font-bold text-[#274C5B]  mt-1 w-full mb-6
    md:text-4xl md:w-1/2 md:mb-0 md:mt-2
    sm:text-4xl
}

.BlogNewsCardContent{
    @apply flex flex-col w-full justify-between items-center mt-0
    lg:flex-row
}