.WhoWheAreContainer{
    @apply flex flex-col w-full h-auto py-10
}
.WWAContent{
    @apply flex flex-row w-full h-auto items-center relative justify-center
    xl:justify-start
}
.WWALeft{
    @apply flex flex-col w-full h-auto justify-center items-center
    xl:w-1/2
}
.WWARight{
    @apply flex flex-col w-[80%] h-auto justify-center bg-white rounded-3xl px-6 py-6 absolute
    shadow-xl
    xl:absolute xl:right-[19rem] xl:w-1/3 xl:px-10 xl:py-10
    2xl:right-[22rem] 2xl:px-14
}
.WWAImg{
    @apply w-full h-[40em]
    lg:w-full
    xl:w-auto xl:h-auto
}
.WWASubTitle{
    font-family: yellowtail;
    @apply text-xl font-medium text-[#68A47F]
    md:text-3xl
}
.WWATitle{
    @apply text-xl font-bold text-[#274C5B] mt-1 w-full
    md:text-4xl md:mt-2
    sm:text-4xl
}

.WWAText{
    @apply flex flex-col w-full h-auto mt-4
    md:mt-6
}
.WWAText p{
    @apply text-[#525C60] text-xs font-medium
    md:text-sm
}
.WWAText h1{
    @apply text-[#274C5B] mt-2 text-sm font-bold
}