.AboutUsAboutContainer{
    @apply flex  w-full items-center justify-center py-20
}
.AboutUsAboutContent{
    @apply flex flex-col-reverse w-full items-center
    md:flex-row md:w-[80%]
}
.AboutLeft{
    @apply flex flex-col w-full items-center justify-center mt-8
    md:mt-0 md:w-1/2
}
.AboutImg{
    @apply w-full h-full object-cover
}
.AboutRight{
    @apply flex flex-col w-full justify-center px-6
    md:w-1/2 md:px-0
}

.AboutSubTitle{
    font-family: yellowtail;
    @apply text-2xl font-medium text-[#68A47F] text-start
    md:text-3xl
}

.AboutTitle{
    @apply text-3xl font-bold text-[#274C5B] text-center mt-2 w-full
    md:text-4xl md:text-start sm:text-4xl
    xl:md:text-5xl
}
.AboutText{
    @apply text-[#525C60] text-start mt-4 w-full text-sm font-medium text-center
    2xl:w-[90%]
    sm:text-sm
}
.AboutPoints{
    @apply flex flex-col w-full
    xl:flex-row
}
.AboutPointCard{
    @apply flex flex-row mt-6 w-full
}
.AboutPointCard span{
    @apply text-[#274C5B] text-start font-semibold text-xl
    xl:w-[80%]
}

.AboutPointImg{
    @apply w-10 h-10 mr-2
}