.ArrowIconBtn{
    @apply w-5 h-5 ml-2 fill-[#335B6B] bg-[#f3f3f3] rounded-full
    transition duration-500 ease-in-out
}
.yellowBtn:hover .ArrowIconBtn{
    @apply fill-[#274C5B] transform scale-110 translate-x-6
}
.yellowBtn{
    @apply flex items-center justify-center
    bg-[#EFD372] text-[#274C5B] font-bold py-3 px-10 rounded-xl w-full
    md:w-auto
}
.GrayBtn{
    @apply flex items-center justify-center
    bg-[#274C5B] text-white font-bold py-3 px-10 rounded-xl w-full
    md:w-auto
}
.GrayBtn:hover .ArrowIconBtn{
    @apply fill-[#f3f3f3] transform scale-110 translate-x-6 bg-[#274C5B]
}