.CardTeamContainer{
    @apply flex flex-col items-center justify-center rounded-3xl overflow-hidden mt-8
    h-[28em] w-[18em]
}
.CardTeamImg{
    @apply w-full h-[80%] object-cover overflow-hidden

}
.CardTeamPhoto{
    @apply w-full h-full object-cover
}

.CardTeamDescript{
    @apply w-full h-[20%] flex flex-col px-6  py-2 rounded-b-3xl
    shadow-2xl
}
.CardTeamDescript section{
    @apply flex flex-row items-center justify-between
}

.CardTeamName{
    @apply text-[#274C5B] font-bold text-base
}
.CardTeamJob{
    font-family: yellowtail;
    @apply text-lg font-medium text-[#68A47F] text-center
}
.CardTeamSocial{
    @apply flex flex-row items-center
}
.CardTeamSocialIcon{
    @apply w-4 h-4 ml-2 fill-[#274C5B] cursor-pointer
}