.HeaderContainer{
    @apply hidden flex-row items-center justify-between py-8 px-14
    md:flex
}
.LogoHeader{
    @apply w-40
}

.UlHeader{
    @apply flex flex-col items-center justify-center w-[90%]
    md:flex-row
}

.LiNavLink{
    @apply px-3 py-1.5 text-[#274C5B] font-bold rounded-xl
    hover:bg-[#7EB693] hover:text-white transition duration-300 ease-in-out mr-1
}
.NavLinkIsActive{
    @apply bg-[#7EB693] text-white mr-1
    px-3 py-1.5 font-bold rounded-xl
}

.BtnCart{
    @apply bg-[#274C5B] px-2 py-2 rounded-full mr-1
}
.CartIcon{
    @apply w-5 h-5 fill-red-50
}
.CartValues{
    @apply text-[#274C5B] font-semibold text-sm flex
}
.NavLinkActive{
    @apply bg-[#7EB693] text-white
}

.ModalCart{
    @apply hidden flex-col items-center w-[20em] h-screen fixed rounded-tl-[5em]
    bg-black bg-opacity-50 fixed right-0 top-24 z-50 py-10 px-6
    md:w-[16em] md:top-24 md:flex
    lg:w-[16em] lg:top-0
    xl:w-[20em]
}
.SecBtnClose{
    @apply flex flex-row items-center justify-between w-full text-white font-bold text-2xl
    h-12
}
.BtnClose{
    @apply bg-red-300 px-2 py-2 rounded-full mr-1
}
.CloseIcon{
    @apply w-6 h-6 stroke-white
}

.ModalContent{
    @apply flex flex-col items-center w-full h-full border-2 mt-10
    overflow-y-auto
}