.FooterContainer{
    @apply flex flex-col items-center justify-center w-full
}
.FooterContent{
    @apply flex flex-col items-center justify-around py-6 px-6 w-full h-full
    md:flex-row md:py-10 md:w-[80%] md:px-0
}
.UlLeftFooter{
    @apply flex flex-col items-center justify-center
    md:items-end
}
.UlLeftFooter li{
    @apply flex flex-col items-center mt-4
    md:items-end
}

.UlRightFooter{
    @apply flex flex-col items-center justify-center
    md:items-start

}
.UlRightFooter li{
    @apply flex flex-col mt-4
}
.UlRightFooter p{
    @apply cursor-pointer
}

.FooterTitle{
    @apply text-2xl font-bold text-[#274C5B]
}
.FooterSpan{
    @apply text-[#525C60] text-base font-bold
}
.FooterText{
    @apply text-[#525C60] text-sm font-medium
}

.FooterMain{
    @apply flex flex-col w-full items-center justify-center h-full py-8
    md:py-0 md:w-1/3 xl:mb-10
}
.FooterMain p {
    @apply text-[#525C60] text-sm font-medium text-center mt-6
}
.FooterLogo{
    @apply h-auto w-44
}
.FooterSocial{
    @apply flex flex-row items-center justify-around mt-6 w-full
}
.FooterIcon{
    @apply h-5 w-5 mr-4 fill-[#274C5B] cursor-pointer
}
.FooterCopy{
    @apply flex flex-row items-center justify-center w-full py-3 border-t border-[#525C60]
}
.FooterCopy p {
    @apply text-[#525C60] text-xs font-medium
    md:text-sm
}
.FooterCopy span {
    @apply font-bold
}